<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <!-- scripts for stand-alone projects, comment for embedded projects -->
    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <!-- also replace <body> with <body is="responsive-body"> -->

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="outer">

      <div class="hed">Sharp increase in call volume</div>
      <div class="chatter chatter-nopadding">As San Francisco’s population has boomed and the use of cell phones increased, calls to the Department of Emergency Management’s 911 center have surged. In 2007, dispatchers handled 953,553 calls. By 2016, that number was up to 1.27 million.</div>

      <div class="button-container nopadding">
        <div class="button emerg selected" id="emerg-button">Emergency calls</div>
        <div class="button nonemerg" id="nonemerg-button">Nonemergency calls</div>
      </div>

      <div class="info"></div>
      <div id="call-volume-graph"></div>

      <div class="credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      </div>
      <div class="source">Source: San Francisco Department of Emergency Management</div>

    </div>

    <script>
      var callVolumeData = <%= JSON.stringify(csv.CallVolumeLong) %>
    </script>

    <script src="../call-volume-app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
