<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <!-- scripts for stand-alone projects, comment for embedded projects -->
    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <!-- also replace <body> with <body is="responsive-body"> -->

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="outer">

      <div class="hed">Answer times have slowed</div>
      <div class="chatter chatter-nopadding">Workloads within the San Francisco Department of Emergency Management’s 911 center have increased, but hiring has not kept pace. It takes longer for dispatchers to answer emergency and nonemergency calls. Those seconds can mean the difference between life and death.</div>
      <div class="info response"></div>

      <div class="sub-hed">Average answer time for emergencies</div>
      <div id="response-time-emergency"></div>

      <div class="sub-hed">Average answer time for nonemergencies</div>
      <div id="response-time-nonemergency"></div>

      <div class="credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      </div>
      <div class="source">Source: San Francisco Department of Emergency Management</div>

    </div>

    <script>
      var responseTimeData = <%= JSON.stringify(csv.ResponseTime) %>
    </script>

    <script src="../response-time-app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
